<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Food blog</title>
</head>
<body>

    
    <ul class="nav-bar-list">
        <li><a href="/" id="logo"><img src="../../public/icons8-avocado-ink-96.png"></a></li>
        <li><a href="/main-library.ejs">Home</a></li>
        <li><a href="../new-book.ejs">Add new book</a></li>
        <li><a href="../tbr.ejs">TBR</a></li>
        <li><a href="../new-book.ejs">Add new book</a></li>
    </ul>
    
        
    <h1><%= entryTitle %></h1>
    <p><%= entryAuthor %></p>
    <p><%= entrySynopsis %></p>


    <br />
    <form action="/deletePost" method="POST">
        <input type="submit" id="delete" name="<%= entryIndex %>" value="delete">
    </form>


<%- include("partials/footer.ejs") %>